<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>タスクリスト一覧</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
      <ul>
        <% @tasks.each do |task| %>
        <li><%= link_to task.id, task %> : <%= task.content %> <%= task.status %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>